.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  padding: 1rem;
  outline: 2px solid var(--neutral-black);
  border-radius: 1rem;
}

.title {
}

.footer {
  display: flex;
  justify-content: center;
  padding: 1rem 0rem;
}

.button {
  border-radius: 1rem;
  background-color: var(--neutral-50);
  border: 3px solid var(--error-500);
  color: var(--error-500);
}

.button:hover {
  border: 3px solid var(--error-300);
  color: var(--error-300);
  cursor: pointer;
}